.top-bar{
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    input{
        color: #000;
        background-color: #ECECEC;
        padding: 4px 10px;
        outline: none;
        border: none;
        border-radius: 5px;
    }
}